:host {
  flex: 1 0 50%;
  display: flex;
  align-items: center;
  justify-content: stretch;
  max-width: 1640px;
}

.grades-holder {
  flex: 1 0 60%;
  padding: 20px;
}

.edit-holder {
  flex: 1 0 40%;
}

@media (max-width: 1024px) {
  :host {
    flex-direction: column;
  }

  .grades-holder {
    width: 100%;
  }
}
